/* 게시판 글쓰기(board_form.php) */
#board_box { position: relative; width: 800px; margin: 0 auto; }
#board_box h3 { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size:40px; }
#board_form span { display: inline-block; }
#board_form { font-size:28px;}
#board_form .col1 { width: 150px; }
#board_form li {	padding: 12px; border-bottom: solid 1px #dddddd; }
#board_form input { width: 700px; height: 25px; }
#board_form textarea { width: 700px;	height: 150px; }
#board_form #text_area {	position: relative;	height: 200px; }
#board_form #text_area .col1 { position: absolute; top: 10px; }
#board_form #text_area .col2 { position: absolute; left: 166px; }
#board_box .buttons { text-align: right; margin: 20px 0 40px 0; }
#board_box .buttons li { display: inline; }
#board_box .buttons button { padding: 5px 10px; cursor: pointer; }
/* 게시판 목록보기(board_list.php) */
#board_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#board_list li:first-child{ font-weight:bold;}
#board_list span { display: inline-block; text-align: center; font-size:25px;}
#board_list .col1 { width: 80px;}
#board_list .col2 { width: 420px; text-align: left; }
#board_list .col2 a:hover { text-decoration: underline; }
#board_list .col3 { width: 150px; }
#board_list .col4 { width: 50px; }
#board_list .col5 { width: 180px; }
#board_list .col6 { width: 100px; }
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }
/* 게시판 내용보기(board_view.php) */
#board_box { width: 1000px; margin: 0 auto; }
#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 2px #516e7f; }
#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }
#replyTitle{
    font-size:35px;
    font-weight: bold;
    margin-top:15px;
    padding: 15px;
}
#reply_view{
    border-bottom: solid 2px #516e7f;
}
#reply_view li{
    margin : 20px 0 10px 20px;    
}
.r_name{
    width:100px;
    margin-right:30px;
    font-size:30px;
}
.r_time{
    font-size:25px;
}
#del_rep{
    color:red;
    font-weight:bold;
    font-size:25px;
    margin-left:20px;
}
.r_content{
    margin-left:20px;
    font-size:25px;
}
.blank{
    width:800px;
    height:30px;
    border-bottom: solid 1px #cccccc;
}
.newAC{
    font-size:30px;
}
#replyForm input{ font-size:20px;}
#replyForm button{
    font-family: 'Dongle', sans-serif; font-size: 22px;
    background-color: #c5c5c5;
    border: none;
    font-weight: bold;
    width:90px;
    margin-left:431.1px;
}
#replyForm button:hover{
    border:2.5px solid rgb(198, 82, 0);
}